.tbox {
  background-color: lightgreen;
  width:200px; 
  height:50px;
  border:6px green;
  border-bottom-style: dotted;
  border-top-style: double;
}

.bbox {
  background-color: lightgreen;
  width:150px; 
  height:250px;
  margin-left: 25px;
  border:6px green;
  border-top-style: none;
}
